@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  #printable-bill-area,
  #printable-bill-area * {
    visibility: visible;
  }
  #printable-bill-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 10px;
    box-shadow: none !important;
    border: none !important;
  }
}
